<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learning.sellmokam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SellMokam">
        <activity android:name=".chat.MessageDetailsActivity"></activity>
        <activity android:name=".post.OtherPostDetailsActivity" />
        <activity android:name=".chat.GroupMessageActivity" />
        <activity android:name=".chat.SingleMessageActivity" />
        <activity android:name=".post.payment.PaymentGatewayActivity" />
        <activity android:name=".post.payment.SelectPaymentActivity" />
        <activity android:name=".post.payment.SubscriptionPageActivity" />
        <activity android:name=".profile.EditActivity" />
        <activity android:name=".profile.OtherProfileActivity" />
        <activity android:name=".post.PostDetailsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".authentication.ProfileActivity" />
        <activity android:name=".authentication.ForgetPasswordConfrimActivity" />
        <activity android:name=".authentication.ChangePasswordActivity" />
        <activity android:name=".authentication.ForgetPasswordActivity" />
        <activity android:name=".authentication.AccountVerifyActivity" />
        <activity android:name=".authentication.SignInActivity" />
        <activity android:name=".authentication.SignUpActivity" />
        <activity android:name=".authentication.Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>